.base {
    background-color: #131b2b;
    height: 100%;
    justify-content: center;
    width: 1174px;
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
}

.header-tabGroup {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 85%;
  height: 100%;
  padding-left: 49px;
}


$tabWidth: 25%;

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $tabWidth;
  height: 31px;
  margin-right: 3px;
  background-color: darkolivegreen;
  &:hover {
    cursor: pointer;
  }
}

.header-utilityOptions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  height: 100%;
}

.header-utilityOptions-dropDownListLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 30px;
}

.header-utilityOptions-dropDownList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 176px;
  height: 36px;
  padding: 8px 13px;
  background-color: #1355d6;
}

.header-utilityOptions-dropDownBar-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: burlywood;
  width: 85%;
  height: 100%;
}

.header-utilityOptions-dropDownList-arrowToExpand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  width: 15%;
  height: 100%;
}

.header-utilityOptions-collapseSign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 100%;
  background-color: darkslategrey;
}

.carousel {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  width: 100%;
  height: 183px;
  background-color: rgb(53, 53, 63);
}

.carousel-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 100%;
  background-color: blue;
}

$currencyContentWidth: 20%;

.carousel-infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $currencyContentWidth;
  height: 100%;
  padding: 4px;
}

.carousel-infoBlock-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 37px;
  padding: 12px 14px 11px 19px;
  background-color: #131b2b;
  border-radius: 8px 8px 0 0 ;
}

.carousel-infoBlock-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 13px 19px;
  font-size: 12px;
  background-color: rgb(35, 35, 45);
  border-radius: 0 0 12px 12px;
}

.carousel-infoBlock-info-mainContent {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 80%;
}

.carousel-infoBlock-info-subContent {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
}

.main-title {
  display: flex;
  justify-content: space-around;
  background-color: #131b2b;
  width: 100%;
  height: 58px;
  padding: 17px 21px 15px 31px;
}

.main-title-leftSide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}

.main-title-currencyType {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 95px;
  height: 100%;
  font-size: 23px;
}

.main-title-riseDeclineArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 100%;
  background-color: coral;
  margin-left: 36px;
}

.main-title-currencyNum {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 73px;
    height: 100%;
    margin-right: 20px;
}

.main-title-rightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}

.main-title-banSign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 100%;
  margin-right: 4px;
  background-color: blanchedalmond;
}

.main-title-endTime {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-right: 19px;
}

.main-title-restTime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 99px;
  height: 100%;
  margin-right: 32px;
}

.main-title-clockSign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 100%;
  margin-right: 4px;
  background-color: coral;
}

.main-title-oneClickTrading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 100%;
  background-color: darkslategrey;
}

.main-content-block {
  display: flex;
  justify-content: space-around;
  padding: 32px 29px 14px 31px;
  background-color: rgb(53, 53, 63);
  width: 100%;
  height: 346px;
}

.main-content-tradeBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 100%;
  background-color: cadetblue;
}

.main-content-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 792px;
  height: 100%;
  background-color: lightgreen;
}

.main-content-tradeInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 242px;
  height: 100%;
  background-color: brown;
  margin-left: 18px;
}

.main-content-tradeInfo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: gold;
}

.main-content-tradeInfo-investAmountBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 11px 17px;
  background-color: aliceblue;
}

.main-content-tradeInfo-investAmountOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34px;
  margin-bottom: 12px;
  background-color: darkslategrey;
}

.main-content-tradeInfo-utility {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
  margin-bottom: 5px;
  background-color: dodgerblue;
}

.main-content-tradeInfo-utility-highLowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 68px;
  margin-right: 10px;
  background-color: hotpink;
}

.main-content-tradeInfo-utility-investButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 62px;
  margin-bottom: 5px;
  background-color: darkolivegreen;
}

.main-content-tradeInfo-payout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 19px;
  background-color: darkgrey;
}

.main-content-tradeInfo-return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 19px;
  margin-top: 4px;
  background-color: aqua;
}

.currentActivity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 29px 14px 31px;
  width: 100%;
  height: 51px;
  background-color: #131b2b;
}

.currentActivity-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 100%;
}

.currentActivity-header-expandAssetPopUpLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 100%;
}

.currentActivity-header-expandAssetPopUpLink-description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  height: 100%;
  font-size: 12px;
}

.currentActivity-header-expandAssetPopUpLink-magnifierIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 100%;
  background-color: cadetblue;
}

.currentActivity-content {
  display: flex;
  justify-content: center;
  padding: 30px 29px 24px 31px;
  height: 105px;
  background-color: royalblue;
}