
.carousel {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  width: 100%;
  height: 183px;
  background-color: rgb(53, 53, 63);
  overflow: hidden;
}

.carousel-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.carousel-demonstrateBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;

  //.carousel-infoBlockBackground {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  width: 20%;
  //  height: 100%;
  //  background-color: rgb(250, 220, 88);
  //  border-radius: 4px;
  //}

}
  .carousel-infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 4px;

  .carousel-infoBlock-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 37px;
    padding: 12px 14px 11px 19px;
    background-color: #131b2b;
    border-radius: 8px 8px 0 0 ;
    font-weight: bolder;
  }

  .carousel-infoBlock-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 13px 19px;
    font-size: 12px;
    background-color: rgb(35, 35, 45);
    border-radius: 0 0 12px 12px;

    .carousel-infoBlock-info-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .carousel-infoBlock-info-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5px;

        .left-section {

          .left-title {
            font-size: 15px;
            font-weight: bold;
          }

          .left-money {
            font-size: 20px;
            font-weight: bolder;
          }
        }

        .right-section {

          .right-title {
            font-size: 15px;
          }

          .right-number {
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }

      .carousel-infoBlock-info-mainContent {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 80%;
      }

      .carousel-infoBlock-info-subContent {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 20%;
      }

      .carousel-infoBlock-info-footer {
        display: flex;
        flex-direction: row;
        justify-content: start;
        .close {
          margin-left: 8px;
        }
      }
    }
  }
}

