
.currentActivity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 29px 14px 31px;
  width: 100%;
  height: 51px;
  background-color: #131b2b;

  .currentActivity-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    height: 100%;

    .currentActivity-header-expandAssetPopUpLink-description {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 125px;
      height: 100%;
      font-size: 12px;
    }

    .currentActivity-header-expandAssetPopUpLink-magnifierIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 19px;
      height: 100%;
      background-color: cadetblue;
    }

    .currentActivity-header-expandAssetPopUpLink {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 142px;
      height: 100%;
    }
  }
}
